[color]
	ui = auto
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[alias]
	stat = status
	com = commit
	wip = commit -m 'WIP'
	recom = commit --amend --no-edit
	recom-reword = commit --amend
	chk = checkout
	chk-cleanbran = checkout --orphan
	diffh = diff HEAD
	diffhh = diff HEAD^
	diffc = diff --cached
	bran = branch
	cbran = rev-parse --abbrev-ref HEAD
	cancel = reset --soft HEAD^
	cpush = !git push origin `git cbran`
	cpull = !git pull origin `git cbran`
	fpull = !git fetch origin `git cbran` && git reset --hard origin/`git cbran`
	retag = "!f () { git tag -d $1;git tag $1&&echo Create tag \\'$1\\';};f"
	mrg = merge --no-ff
	slog = log --pretty=format:'%C(yellow)[%ad] %C(green)%h %Creset: %s' --date=iso
	slog-name = log --pretty=format:'%C(yellow)[%ad] %C(green)%h %Creset: %C(blue)%an %Creset: %s' --date=iso
	delete-brans = !git branch --merged | grep -v \\* | grep -v 'master\\|release' | xargs -I % git branch -d %
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
