[color]
	ui = auto
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[alias]
	stat = status
	com = commit
	ini = "!f () { git init && git commit --allow-empty -m 'init'; };f"
	wip = "!f () { git commit -m \"WIP $1\"; };f"
	wipc = "!f () { git commit -m \"WIP $1 [ci skip]\"; };f"
	ci-skip = "!f () { git reset HEAD . && git commit --allow-empty -m \"$1 [ci skip]\"; };f"
	fix = "!f () { git commit -m \"Fixup $1\"; };f"
	ignore-files = status --ignored
	ignore-all-files = ls-files --other --ignored --exclude-standard
	pick = cherry-pick
	recom = commit --amend --no-edit
	recom-reword = commit --amend
	con = consistent -i
	chk = checkout
	chk-fork = "!f () { git checkout -b ᛝ`git cbran`+$1; };f"
	diffh = diff HEAD
	diffhh = diff HEAD^
	diffc = diff --cached
	bran = branch
	bran-backup = !git branch ဓ`git cbran`-backup
	plain-branch = "!f () { git checkout --orphan $1 && git rm --cached -r .; };f"
	cbran = rev-parse --abbrev-ref HEAD
	cancel = reset --soft HEAD^
	cpush = !git push origin `git cbran`
	cpull = !git pull origin `git cbran`
	fpull = !git fetch origin `git cbran` && git reset --hard origin/`git cbran`
	retag = "!f () { git tag -d $1;git tag $1&&echo Create tag \\'$1\\'; };f"
	mrg = merge
	slog = log --pretty=format:'%C(yellow)[%ad] %C(green)%h %Creset: %s %C(red)%D%Creset' --date=iso --decorate-refs=tags
	slog-name = log --pretty=format:'%C(yellow)[%ad] %C(green)%h %Creset: %C(blue)%an %Creset: %s %C(red)%D%Creset' --date=iso --decorate-refs=tags
	delete-brans = !git branch --merged | grep -v \\* | grep -v 'master\\|release' | xargs -I % git branch -d %
	delete-remote = "!f () { git push origin :$1; };f"
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
