#
# Path
#
export PATH=$HOME/.local/bin:$PATH
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH

#
# Commands
#
# chezmoi
alias chz=chezmoi

# history
alias h='history'
alias ha='history -E 1'

# touch
alias tch='touch'

# tar
alias tzip='tar zcvf'
alias tunzip='tar xvf'

# less
alias less='less -N -S -#4'

# editor
alias e={{ .editor }}
alias ee='{{ .editor }} .'

# ls
if which eza > /dev/null; then
  alias ls='eza -1 -b --group-directories-first --time-style="long-iso"'
  alias ll='eza -1 -b --group-directories-first --time-style="long-iso" -l'
  alias la='eza -1 -b --group-directories-first --time-style="long-iso" -l -a'
elif which gls > /dev/null; then
  alias ls='gls -G'
  alias ll='gls -l --time-style="+%Y-%m-%d %H:%M:%S"'
  alias la='gls -lA --time-style="+%Y-%m-%d %H:%M:%S"'
else
  alias ls='ls -G'
  alias ll='ls -l'
  alias la='ls -lA'
fi

# cat
if which bat > /dev/null; then
  alias cat='bat --paging="never" --theme="TwoDark" --style="header,grid"'
  alias tailf='(){ tail -f $1 | bat --paging="never" --theme="TwoDark" --style="plain" --language="log" }'
fi

# grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# sed
if which gsed > /dev/null; then
  alias sed='gsed'
fi

# cd
alias p='cd ~/Projects'
alias move='(){ mkdir -p $1; cd $1 }'

# global ip
alias gip='curl http://ipecho.net/plain; echo'

# job
alias port='(){ lsof -i:$1 }'

# terminal-notifier
alias noti='(){ terminal-notifier -message $1 -sound default }'

#
# History
#
export HISTFILE=${HOME}/.zsh_history
export HISTSIZE=10000
export SAVEHIST=100000
setopt hist_ignore_dups
setopt hist_reduce_blanks
setopt share_history

setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_NO_STORE

autoload history-search-end

zshaddhistory() {
  local line=${1%%$'\n'}
  local cmd=${line%% *}

  [[ ${#line} -ge 3 ]]
}

#
# Completion
#
setopt auto_param_slash
setopt mark_dirs
setopt auto_param_keys
setopt complete_in_word
setopt always_last_prompt
setopt print_eight_bit
setopt extended_glob
setopt globdots

zstyle ':completion:*:default' menu select=2
zstyle ':completion:*:*files' ignored-patterns '*?.o' '*?~' '*\#'

#
# Other
#
setopt nonomatch
